#navigation {
  padding: 2px 55px;
  i { font-size: 18px; }
  @include bp-small {
      padding: 2px 25px;
      .navbar-right {
        padding-right: 45px;
      }
  }
}

.navbar-nav li a.toggle {
  color: $primary-blue !important;
  &:hover { color: $link-color !important; }
}

.navbar-default {
  transition-duration: 0.5s;
  border-color: transparent;

  .logo {
    width: 172px;
    height: 41px;
    margin-top: -11px;
    background-image: url(../src/data/images/logo-white.svg);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    transition-duration: 0.5s;
  }

  .logo.toggle { background-image: url(../src/data/images/logo-blue.svg); }

  .navbar-nav li a {
    color: $white;
    font-size: 14px;
    text-transform: uppercase;
    font-family: $Montserrat;
    transition: ease .2s;
    &:hover { color: $link-color; }
  }

  .navbar-toggle {
    border: none;
    &:hover, &:focus { background-color: rgba(255, 255, 255, 0.0); }
  }
}

.navbar-default .navbar-toggle .icon-bar { background-color: #170133 !important; }

.navbar-fixed-top {
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}

.navbar-fixed-top.show {
  border-bottom: 1px solid #eaeaea;
  background-color: rgba(255, 255, 255, 0.97);
}

// Dropdown Styles

.dropdown-menu {
  top: 104%;
  padding: 0px 0;
  min-width: 267px;
  background-color: rgba(255, 255, 255, 0.97) !important;
  box-shadow: none;
  border-radius: 0px;
  border: 1px solid #e4e4e4;

  .divider {
    margin: 0px;
    background-color: #e4e4e4;
  }
  >li>a {
    color: $primary-blue !important;
    padding: 10px 20px;
    &:hover { background-color: $white; }
  }

  @include bp-small {
    background-color: rgba(255, 255, 255, 0.13) !important;
  }
}

.navbar-default .navbar-nav>.open>a {
  color: $link-color;
  background-color: transparent;
  &:hover, &:focus {
    color: $link-color;
    background-color: transparent;
  }
}
