
/* Custom navigation styles */

#navigation {
  padding: 7px 25px;
}

@media (min-width: 768px) {
  .navbar-right {
    padding-right: 45px;
  }
}

.navbar-default {
  border-color: rgba(231, 231, 231, 0.18);
}

.navbar-default .navbar-toggle {
  border: none;
}

.navbar-default .navbar-toggle:hover {
  background-color: #f8f8f8;
}
.navbar-fixed-top {
  background-color: transparent;
}

/* Homepage styles */

#hero {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height:100vh;
  background: linear-gradient(to bottom, rgba(22,0,89,1) 0%, rgba(22,0,89,1) 23%, rgba(194,33,60,1) 100%);
}

.parallax {
  perspective: 1px;
  overflow-x: hidden;
  overflow-y: auto;
  height:100%;
}

.hero-layer1 {
  background-image: url(../src/data/images/hero-layer1.png);
  height: 100%;
  bottom: 0;
  position: relative;
}

.hero-layer2 {
  background-image: url(../src/data/images/hero-layer2.png);
  height: 100%;
  /*transform: translateZ(0);*/
  transform: translateZ(-1px) scale(2);
}

.parallax__layer {
  position: absolute;
}


#about {
  padding: 80px 0px 100px 0px;
  clear: both;
  background-color: white;
  z-index: 1;
}

#about h3 {
  text-align: center;
  padding-bottom: 20px;
  font-weight: 400;
}

#portfolio-grid {
  padding: 70px 0px;
  background-color: #f4f4f4;
}

#tools-list {
  padding: 120px 0px;
}

.category-item {
  border: 1px solid #e4e4e4;
  margin-bottom: 35px;
  background-color: #ffffff;
}

.category-info {
  width: 100%;
  padding: 0px 20px 10px 20px;
}

.category-info h3 {
  font-weight: 400;
  font-size: 20px;
}

.category-info p {
  color: #bdbdbd;
  font-size: 15px;
  margin-top: -5px;
}

.temp-image {
  background-color:black;
  height:300px;
  width:100%;
}

.tool-image {
  width:100px;
  height: auto;
  display: block;
  margin: auto;
  cursor: pointer;
  z-index: 10;
}

.tool-container {
  margin: 50px 0px;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
