.error-page {
  @include height-width(100vh, 100%);
  background: linear-gradient(to bottom, #010507 0%,#170133 100%);
  position: relative;
  margin-top: -20px;
  padding-top: 21%;
  background-repeat: repeat-x repeat-y;
  @include bp-small { padding-top:50%; }

  div {
    border: 1px solid white;
    padding: 7px 0px 20px 0px;
    width: 345px;
    margin-left: auto;
    margin-right: auto;
    @include animation('flash 2.5s ease-in-out infinite');
  }

  h1 {
    text-align: center;
    color: white;
    i { padding-right:20px; }
  }

  p{
    color: white;
    text-align: center;
    padding-top: 10px;
  }
}

@include keyframes(flash) {
  0% { opacity: 1; }
  50% { opacity: 0.2; }
  100% { opacity: 1; }
}
