#about {
  padding: $padding-desktop;
  background-color: $white;
  z-index: 10;
  overflow: hidden;

  #nameBG { @include gray-title(); }

  h4 {
    @include fadeIn-title(140px);
    opacity: 0;
  }

  h4.toggle { opacity: 1; }

  .heading {
    @include heading-style(#333333);
    @include bp-small { margin-top:30px; }
  }

  .divider-dark {
    @include divider-line(95%, rgba(0, 0, 0, 0.44), 0px 0px 20px 0px);
  }
}

.portrait img {
  width: 350px;
  margin-top: -40px;
  @include bp-small { padding: 0px 40px; }
}
