#about {
  padding: $padding-desktop;
  clear: both;
  background-color: #fff;
  z-index: 10;
  overflow: hidden;

  #nameBG {
    text-align: center;
    padding-bottom: 20px;
    font-weight: 400;
    font-size: 110px;
    color: #f6f6f6;
  }

  h4 {
    text-align: center;
    margin-top: -110px;
    margin-bottom: 110px;
    font-size: 30px;
  }

  .heading {
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    text-align: left;
    color: #333333;
    margin: 0;
    padding-bottom: 10px;

    @media screen and (max-width: 768px) {
      margin-top:30px;
    }
  }

  .divider-dark {
    width: 95%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.44);
    margin-bottom: 20px;
  }

  li {
    line-height: 25px;
  }

}

.portrait img {
  width: 350px;
  margin-top: -40px;
  @media only screen and (max-width: 768px) {
    padding: 0px 40px;
  }
}
