#about {
  padding: $padding-desktop;
  clear: both;
  background-color: #fff;
  z-index: 10;
  overflow: hidden;

  h3 {
    text-align: center;
    padding-bottom: 20px;
    font-weight: 400;
    font-size: 110px;
    opacity: 0.025;
  }

  h4 {
    text-align: center;
    margin-top: -110px;
    margin-bottom: 75px;
    font-size: 30px;
  }
}
