#category-grid {
  padding: 80px 0px 70px 0px;
  background-color: $light-gray;
  border-top: $border-gray;
  border-bottom: $border-gray;

  .category-item {
    border: $border-gray;
    margin-bottom: 35px;
    background-color: $white;

    &:hover {
      cursor: pointer;
      .category-image {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
      }
    }
  }

  .category-info {
    width: 100%;
    padding: 0px 20px 10px 20px;

    h3 {
      font-weight: 400;
      font-size: 20px;
      color: $black;
    }

    p {
      color: #bdbdbd;
      font-size: 15px;
      margin-top: -5px;
    }
  }
}

.image-container {
  overflow: hidden;
  border-bottom: $border-gray;
}

.category-image {
  background-color: $primary-blue;
  object-fit: cover;
  @include height-width(300px, 100%);
  @include transition(all 0.3s);
}
