// MARK: - Featured Work Section
.featured-work {
  border-top: 1px solid gainsboro;
  background-color: #f9f9f9;
  padding: 0px 20px;
  z-index: 2;
  position: relative;

  h1 {
    padding: 5px 0px 15px 0px;
  }

  .scrollView {
    height: 500px;
    width: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    div {
      display: inline-block;
      vertical-align: middle;
      padding: 150px 300px;
      border: 1px solid black;

    }
  }
}
