#hero {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  background: linear-gradient(to bottom, #160059 0%, #160059 30%, #5b0d4e 50%, #c2213c 90%, #c2213c 100%);
  @include background(center bottom, 130%, '');
  @include animation('gradientChange 5s ease;');
  @include height-width(100vh, 100%);

  .stars {
    background-image: url(../src/data/images/home/stars.png);
    background-position: top;
    @include height-width(100%, 100%);
  }

  .hills-background {
    background-image: url(../src/data/images/home/hills-background.png);
    z-index: 1;
    position: relative;
    @include background(0%, cover, repeat-x);
    @include animation('translateBackground 180s linear infinite');
    @include height-width(100%, 100%);
  }

  .hills-foreground {
    background-image: url(../src/data/images/home/hills-foreground.png);
    @include background(left bottom, cover, repeat-x);
    @include animation('translateBackground 60s linear infinite');
    @include height-width(100%, 100%);
  }

  .sun {
    margin-top:13.5%;
    background-image: url(../src/data/images/home/hero-sun1.png);
    height:240px;
    background-position-x: center;
    z-index: 0;
    @include background('', contain, no-repeat);
    @include animation('sunTranslate ease 4.5s');
    @include bp-small { display: none; }
  }

}

.site-title {
  padding-top: 16%;
  margin-left: 60%;
  @include opacity(1.0);

  @include bp-small {
    text-align: center;
    margin: 0px;
    padding-top:50%;
  }

  h2 {
    font-size: 52px;
    color: $white;
  }

  h3 {
    color: $white;
    font-size: 30px;
    margin-top: -4px;
    @include opacity(0.5);
    @include animation('subtitleFade ease 4s');
  }
}

// Animations
@include keyframes(translateBackground) {
  0% { background-position: 0%; }
  100% { background-position: 300%; }
}

@include keyframes(gradientChange) {
    0% { background-position: center top; }
    100% { background-position: center bottom ;}
}

@include keyframes(sunTranslate) {
  0% { margin-top: 37%; height: 400px; opacity: 0; }
  30% { margin-top: 37%; height: 400px; opacity: 1; }
  100% { margin-top: 13.5%; height: 240px; }
}
