#hero {
  animation: gradientChange 5s ease;
  position: relative;
  margin: 0 auto;
  width: 100%;
  height:100vh;
  overflow: hidden;
  background: linear-gradient(to bottom, #160059 0%, #160059 30%, #5b0d4e 50%, #c2213c 90%, #c2213c 100%);
  background-position: center bottom;
  background-size: 130%;

  // background: linear-gradient(180deg, #160059, #5b0d4e, #c2213c);
  // background-size: 600% 600%;
  // background-position:100% 50%;

  .stars {
    background-image: url(../src/data/images/stars.png);
    background-position: top;
    width: 100%;
    height: 100%;
  }

  .hills-background {
    animation: translateBackground 380s linear infinite;
    background-image: url(../src/data/images/hills-background.png);
    background-position: left bottom;
    background-size: cover;
    background-repeat: repeat-x;
    background-position: 0%;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: relative;
  }

  .hills-foreground {
    animation: translateBackground 190s linear infinite;
    background-image: url(../src/data/images/hills-foreground.png);
    background-position: left bottom;
    background-size: cover;
    background-repeat: repeat-x;
    width: 100%;
    height: 100%;
  }

  .sun {
    animation: sunTranslate ease 3s;
    margin-top:14%;
    background-image: url(../src/data/images/hero-sun1.png);
    height:240px;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 0;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

}

.site-title {
  padding-top: 16%;
  margin-left: 60%;
  opacity: 1.0;

  @media screen and (max-width: 768px) {
    text-align: center;
    margin: 0px;
    padding-top:50%;
  }

  h2 {
    font-size: 52px;
    font-family: $Montserrat;
    color: #fff;
  }

  h3 {
    color: #fff;
    animation: subtitleFade ease 4s;
    font-size: 30px;
    font-family: $Montserrat;
    margin-top: -4px;
    opacity: 0.5;
  }
}

// Animations
@keyframes translateBackground {
  0% {
    background-position: 0%;
  }
  100% {
    background-position:400%;
  }
}


@keyframes gradientChange {
    0%{background-position: center top}
    100%{background-position: center bottom}
}


@keyframes sunTranslate {
  0% {
    margin-top: 30%;
    height: 400px;
  }
  100%{
    margin-top: 14%;
    height: 240px;
  }
}
