// Grid Styles

.resource-grid {
  padding: 30px 130px;
  @include bp-small { padding: 30px 30px; }

  .row:nth-child(n):nth-child(-n+3) {
    border-bottom: $border-gray;
  }

  .row {
    margin: 0px;
    padding-bottom: 20px;
  }

  .resource-category {
    text-align: center;
    font-family: $Montserrat;
    font-size:25px;
    padding: 80px 0px 50px 0px;
  }
}

.online-resource {
  padding: 20px 20px 20px 0px;
  cursor: pointer;

  p:nth-child(2) {
    color: $link-color;
    text-transform: uppercase;
    font-size: 11px;
    margin-top: -3px;
    font-family: $HelveticaNeue;
  }

  p:nth-child(3) {
    color: $black;
    font-size:13px;
  }

  h4 {
    margin-top: -2px;
    color: $primary-blue;
    text-transform: uppercase;
    font-family: $Montserrat;
    font-size: 16px;
  }

  .resource-image {
    float: left;
    padding-right: 20px;
    @include height-width(150px, 70px);
    @include bp-small { height: 125px; }

    img { @include height-width(auto, 100%); }
  }
}

// Animated Banner Styles

.resource-banner {
  background: -webkit-linear-gradient(top, #160033 0%,#160061 100%);
  background: linear-gradient(to bottom, #160033 0%,#160061 100%);
  @include height-width(600px, 100%);

  .night-stars {
    background-image: url(../src/data/images/resources/night-stars.png);
    @include height-width(100%, 100%);

    .text {
      color: white;
      text-align: center;
      font-family: $Montserrat, sans-serif;
      font-size: 42px;
      line-height: 40px;
      padding-top: 250px;

      span {
        text-transform: uppercase;
        font-size: 20px;
        color: rgba(255, 255, 255, 0.38);
      }
    }

    .moon {
      background-image: url(../src/data/images/resources/moon.png);
      height: 300px;
      background-size: contain;
      background-repeat: no-repeat;
      margin-top: 100px;
      @include bp-small { display:none; }
    }

    .clouds {
      background-image: url(../src/data/images/resources/clouds.png);
      background-position: left bottom;
      background-size: cover;
      @include animation('translateBackground 80s linear infinite');
      @include height-width(100%, 100%);
    }
  }
}

// Animations
@include keyframes(translateBackground) {
  0% { background-position: 0%; }
  50% { background-position:100%; }
  100% { background-position:0%; }
}
