// Grid Styles

.resource-grid {
  padding: 30px 130px;

  @media only screen and (max-width: 768px) {
    padding: 30px 30px;
  }

  .row:nth-child(n):nth-child(-n+3) {
    border-bottom: 1px solid #eaeaea;;
  }

  .resource-category {
    text-align: center;
    font-family: $Montserrat;
    font-size:25px;
    padding: 50px 0px 50px 0px;
  }
}

.online-resource {
  padding: 20px 20px 20px 0px;
  cursor: pointer;
  transition: 0.5s ease;

  &:hover {
    opacity: 0.3;
  }

  p:nth-child(3) {
    color: black;
  }

  p:nth-child(2) {
    color: $link-color;
    text-transform: uppercase;
    font-size: 11px;
    margin-top: -3px;
  }

  h4 {
    margin-top: -2px;
    color: $primary-blue;
    text-transform: uppercase;
    font-family: $Montserrat;
    font-size: 16px;
  }

  .resource-image {
    height: 150px;
    float: left;
    width: 80px;
    padding-right: 20px;

    @media only screen and (max-width: 768px) {
      height: 125px;
    }

    img {
      height:auto;
      width:100%;
    }
  }
}

// Animated Banner Styles

.resource-banner {
  width: 100%;

  background: -webkit-linear-gradient(top, #160033 0%,#160061 100%);
  background: linear-gradient(to bottom, #160033 0%,#160061 100%);
  height: 600px;

  .night-stars {
    background-image: url(../src/data/images/resources/night-stars.png);
    height:100%;
    width:100%;

    .text {
      color: white;
      text-align: center;
      font-family: $Montserrat, sans-serif;
      font-size: 42px;
      line-height: 40px;
      padding-top: 250px;

      span {
        text-transform: uppercase;
        font-size: 20px;
        color: rgba(255, 255, 255, 0.38);
      }
    }

    .moon {
      background-image: url(../src/data/images/resources/moon.png);
      height: 300px;
      background-size: contain;
      background-repeat: no-repeat;
      margin-top: 100px;

      @media screen and (max-width: 768px) {
        display:none;
      }
    }

    .clouds {
      animation: translateBackground 80s linear infinite;
      background-image: url(../src/data/images/resources/clouds.png);
      background-position: left bottom;
      background-size: cover;
      height:100%;
      width: 100%;

    }
  }
}

//Animations

@keyframes translateBackground {
  0% { background-position: 0%; }
  .5% { background-position: 0%; }
  50% { background-position:100%; }
  100% { background-position:0%; }
}
