#tools-list {
  padding: $padding-desktop;

  .tool-image {
    display: block;
    z-index: 10;
    @include height-width(auto, 100px);
    @include push-auto;
  }

  .tool-container {
    padding: 50px 0px;
    background-color: transparent;
    &:hover {
      .tool-title { color: $primary-blue; }
    }

    .tool-title {
      text-align: center;
      color: $white;
      padding-top: 16px;
      font-size: 16px;
      @include transition(ease-in-out 0.3s);
      @include bp-small { display: none; }
    }
  }

  .tool-heading {
    text-align: center;
    margin-bottom: 20px;

    div {
      display: inline-block;
      vertical-align: super;
      @include divider-line(32%, rgba(23, 1, 51, 0.08), 0px 30px)
      @include bp-small { display: none; }
    }

    h3 { display:inline-block; }
  }

  .resource-button {
    @include button($link-color, 322px, uppercase, 14px);
    margin-top: 60px;
  }

}
