#tools-list {
  padding: $padding-desktop;

  .tool-image {
    width:100px;
    height: auto;
    display: block;
    margin: auto;
    z-index: 100;
  }

  .tool-container {
    padding: 50px 0px;
    background-color: transparent;

    &:hover {
      .tool-title {
        color: $primary-blue;
      }
    }

    .tool-title {
      transition: ease-in-out 0.3s;
      text-align: center;
      color: #fff;
      padding-top: 16px;
      font-size: 16px;

      @media screen and (max-height: 768px) {
        display: none;
      }
    }

  }

  .tool-heading {
    text-align: center;
    margin-bottom: 20px;

    div {
      height: 1px;
      background-color: rgba(23, 1, 51, 0.08);
      width: 32%;
      display: inline-block;
      margin: 0px 30px;
      vertical-align: super;

      @media screen and (max-width:768px) {
        display: none;
      }
    }
    h3 {
      display:inline-block;
    }
  }

  .resource-button {
    font-size: 14px;
    text-transform: uppercase;
    color: $link-color;
    text-align: center;
    margin: 20px auto 0px auto;
    width: 322px;
    border: 1px solid $link-color;
    padding: 20px 0px;
    cursor: pointer;
    transition: 0.5s ease;

    a {
      font-family: $Montserrat, sans-serif;
      transition: 0.5s ease;
    }

    &:hover {
      background-color: $link-color;
      a {
        color: #fff;
      }
    }
  }

}
