// Banner and Intro
.banner {
  overflow: hidden;
  position: relative;
  z-index: 1;

  img {
    object-fit: cover;
    position: relative;
    @include height-width(520px, 100%);
  }

  div {
    top: 210px;
    position: fixed;
    width: 100%;
    z-index: 1;
  }

  h2 {
    color: white;
    text-align: center;
    font-size: 43px;
    padding: 10px 20px;
    margin: auto;
  }
}

.overview {
  padding: $padding-desktop;
  background-color: #ffffff;
  z-index: 2;
  position: relative;

  h3 { @include gray-title(); }

  h4 { @include fadeIn-title(110px); }

  p {
    font-size: 18px;
    padding: 5px 15px;
  }
}
