@import url('https://fonts.googleapis.com/css?family=Montserrat');

// Colors
$primary-blue: #170133;
$link-color: #b81f3d;

// Fonts
$Montserrat: 'Montserrat', sans-serif;

// Section Spacing
$padding-desktop: 80px 0px 100px 0px;
$padding-mobile: 50px 0px 70px 0px;
