@import 'utils/all';
@import 'components/all';
@import 'layout/all';

// Global Styles

p, li, a {
  font-family: $Lora, sans-serif;
}

li {
  line-height: 25px;
}

h1, h2 , h3 {
  font-family: $Montserrat;
}

a {
  color: $link-color;

  &:hover {
    text-decoration: none;
    color: $link-hover-blue;
  }
}

.react-container {
  min-height: 100%;
  position: relative;
}
