@import 'utils/all';
@import 'components/all';
@import 'layout/all';

/* TODO: Move Global Styles*/
p, li, a {
  font-family: Open Sans, sans-serif;
}

h1, h2 , h3 {
  font-family: $Montserrat;
}

a {
  color: #a71c41;

  &:hover {
    text-decoration: none;
    color:#b81f3d;
  }
}

.react-container {
  min-height: 100%;
  position: relative;
}
